.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  background-color: rgba(37, 36, 52, 0.6);
  padding: 10px;
  border-radius: 7px;
}

.top {
  display: flex;
}

.imgContainer {
  width: 90%;
  height: 400px;
  position: relative;
  border-radius: 7px;
  overflow: hidden;
}

.img {
  object-fit: cover;
}

.date {
  display: flex;
  font-size: 12px;
  text-wrap: nowrap;
  rotate: 270deg;
  margin: auto;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.title {
  flex: 2;
  font-size: 24px;
  font-weight: 300;
}

.link {
  background-color: #0d0c22;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-wrap: nowrap;
  padding: 10px 30px;
}
