:root {
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --text: white;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1536px) {
  .container {
    width: 1366px;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 475px;
  }
}
@media (max-width: 475px) {
  .container {
    width: 380px;
  }
}

.loader {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #fff;
  animation: wave 1s ease-in infinite;
}

@keyframes wave {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 1),
      0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.6),
      0 0 0 60px rgba(255, 255, 255, 0.4), 0 0 0 80px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 80px rgba(255, 255, 255, 0),
      0 0 0 60px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.4),
      0 0 0 20px rgba(255, 255, 255, 0.6), 0 0 0 0px rgba(255, 255, 255, 1);
  }
}
